body {
  margin: 0;
  background: #90ee90;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #060061;
  text-align: center;
}
.mainContainer {
  background: #98fb98;
  padding: 2rem;
  border-radius: 8px;
}
form {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
li {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
